.link-list-item-cocktail {
  text-decoration: none;
  width: 100%;
  margin: 10px auto;
}

.list-item-cocktail {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.img-list-item {
  width: 90%;
}

.span-list-item {
  font-size: 20px;
  margin-top: 5px;
}
