.title-main-page {
  text-align: center;
}

.special-offer {
  margin: 50px 0 20px 20%;
  width: 30vw;
}

.special-offer-title {
  margin-left: 5%;
}

.special-offer-img {
  display: block;
  width: 30vw;
}

.special-offer-description {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}

.special-offer-name-cocktail {
  font-size: 20px;
  font-weight: 600;
}
